@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-VariableFont_wdth\,wght.woff2') format('woff2');
  font-style: normal;
  font-weight: 300 800;
}

@font-face {
  font-family: 'NAMU Pro';
  src: url('../assets/fonts/NAMU-Pro.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'NAMU 1850';
  src: url('../assets/fonts/NAMU-1850.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}